{% extends 'base.html' %}

{% block body %}
<div id="gauge-cluster" class="container">
    <div class="row">
        <div id="rpm" class="col"></div>
        <div id="fuel-consumption" class="col"></div>
        <div id="speed" class="col"></div>
    </div>
    <div class="row">
        <div id="battery-voltage" class="col"></div>
        <div id="intake-air-temp" class="col"></div>
    </div>
</div>

{% load static %}
<script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
<script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
{% endblock %}