{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/gauge-cluster.css' %}">
{% endblock %}

{% block body %}
<div id="gauge-cluster" class="container">
    <div class="row">
        <div class="col">
            <div class="gauge-wrapper">
                <img src="{% static 'assets/rpm-gauge.png' %}">
                <div class="gauge-needle-container">
                    <div id="rpm-needle" class="gauge-needle-wrapper">
                        <div class="gauge-needle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fuel-consumption" class="col"></div>
        <div class="col">
            <div class="gauge-wrapper">
                <img src="{% static 'assets/speed-gauge.png' %}">
                <div class="gauge-needle-container">
                    <div id="speed-needle" class="gauge-needle-wrapper">
                        <div class="gauge-needle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="battery-voltage" class="col"></div>
        <div id="intake-air-temp" class="col"></div>
    </div>
</div>

<script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
<script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>

<script src="{% static 'js/data_stream_listener.js' %}"></script>
{% endblock %}