img {
    width: 100%;
    position: absolute;
}

.gauge-wrapper {
    width: 400px;
    height: 300px;
    position: relative;
}

.gauge-needle-container {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 75px;
    left: 100px;
}

.gauge-needle-wrapper {
    width: 200px;
    height: 150px;
    position: relative;
    transition: all 0.1s;
}

.gauge-needle {
    width: 135px;
    height: 3px;
    position: absolute;
    top: 73px;
    left: -35px;
    background-color: red;
}

.gauge-wrapper-sm {
    width: 200px;
    height: 150px;
}

.gauge-needle-container-sm {
    width: 100px;
    height: 75px;
    top: 37.5px;
    left: 50px;
}

.gauge-needle-wrapper-sm {
    width: 100px;
    height: 75px;
}

.gauge-needle-sm {
    width: 67.5px;
    top: 36px;
    left: -18px;
}

.gauge-meters-container {
    width: 170px;
    height: 100px;
    position: absolute;
    top: 95px;
    left: 115px;
}

.gauge-meter-container {
    height: 40px;
    position: relative;
    background-color: black;
}

.lower-meter {
    top: 20px;
}

.meter {
    max-width: 164px;
    min-width: 0px;
    height: 34px;
    position: relative;
    top: 3px;
    left: 3px;
    background-color: red;
    transition: ease-out 0.1s;
}

#rpm-gauge,
#speed-gauge,
#voltage-gauge,
#temp-air-gauge,
#temp-engine-gauge {
    --gauge-measure: 0deg;
    transform: rotate(var(--gauge-measure));
}

#o2s-gauge,
#econ-gauge {
    --gauge-measure: 0px;
    width: max(0px, var(--gauge-measure));
}